<div class="titulo">
  <i class="pi pi-chevron-right" style="font-size: 2rem"></i>
  <h1 class=" titulo2">Informacion De Contacto</h1>
</div>



<div class="contacto-container">

<div class="item-1">

  <i class="pi pi-envelope icono shadow " style="font-size: 2rem"></i>
  <p>gastonmonasterio1998@gmail.com</p>

</div>

<div class="item-1">

  <i class="pi pi-mobile icono shadow" style="font-size: 2rem"></i>
  <p>+54 3886 599877</p>

</div>



<div class="item-1">

  <i class="pi pi-map-marker icono shadow" style="font-size: 2rem"></i>
  <p>Argentina Salta capital <br> Amancay 155 Villa las Rosas</p>

</div>

<div class="item-1">

  <i class="pi pi-linkedin icono shadow " style="font-size: 2rem"></i>
  <a href="https://www.linkedin.com/in/gast%C3%B3n-gabriel-monasterio-3b3612198/" role="button" target="_blank" style="text-decoration:none">

    <p>https://www.linkedin.com/in/gast%C3%B3n-gabriel-monasterio-3b3612198/</p>

  </a>




</div>

</div>
