.contacto-container{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: slategrey;
  color: white;
}

.item-1{
  text-align: center;
  border: 2px solid red;
  margin: 0;
  padding: 0;
  margin: 3%;
  color: white;
}

.item-1 img{
  width: 2rem;





}
