<p>contacto works!</p>
<div class="contacto-container">

<div class="item-1">

  <img src="../../assets/icons/envelope-solid.svg" alt="">
  <p>gastonmonasterio1998@gmail.com</p>

</div>

<div class="item-1">

  <img src="../../assets/icons/phone-alt-solid.svg" alt="">
  <p>+54 3886 599877</p>

</div>



<div class="item-1">

  <img src="../../assets/icons/map-marked-alt-solid.svg" alt="">
  <p>Argentina Salta capital <br> Amancay 155 Villa las Rosas</p>

</div>

<div class="item-1">

  <img src="../../assets/icons/linkedin-brands.svg" alt="">

  <p>https://www.linkedin.com/in/gast%C3%B3n-gabriel-monasterio-3b3612198/</p>



</div>

</div>
