<!--Componente que registra la informacion de contacto del dueño del portafolio iconos usados de prime icons v5 (PrimeNG)-->

<!--Titulo del Componente-->
<div class="titulo">
  <i class="pi pi-chevron-right" style="font-size: 2rem"></i>
  <h1 class=" titulo2">Informacion De Contacto</h1>
</div>



<div class="contacto-container">
  <!--e-mail-->
  <div class="item-1">

    <i class="pi pi-{{elementosInformacionContacto[0].icono}} icono shadow " style="font-size: 2rem"></i>
    <p>{{elementosInformacionContacto[0].contenido}}</p>
    <button pButton pRipple label="Editar" icon="pi pi-pencil"routerLink="editarInformacionEmail/1"></button>

  </div>
  <!--Celular-->
  <div class="item-1">

    <i class="pi pi-{{elementosInformacionContacto[1].icono}} icono shadow" style="font-size: 2rem"></i>
    <p>{{elementosInformacionContacto[1].contenido}}</p>
    <button pButton pRipple label="Editar" icon="pi pi-pencil"routerLink="editarInformacionTelefono/2"></button>

  </div>
  <!--Direccion-->
  <div class="item-1">

    <i class="pi pi-{{elementosInformacionContacto[2].icono}} icono shadow" style="font-size: 2rem"></i>
    <p>{{elementosInformacionContacto[2].contenido}}</p>
    <button pButton pRipple label="Editar" icon="pi pi-pencil"routerLink="editarInformacionDireccion/3"></button>

  </div>
  <!--Linkedin-->
  <div class="item-1">

    <i class="pi pi-{{elementosInformacionContacto[3].icono}} icono shadow " style="font-size: 2rem"></i>
    <a href="{{elementosInformacionContacto[3].contenido}}" role="button" target="_blank" style="text-decoration:none">
      <p>Gaston Monasterio</p>
    </a>
    <button pButton pRipple label="Editar" icon="pi pi-pencil"routerLink="editarInformacionLinkedin/4"></button>

  </div>

</div>
