
<p-button (click)="showModalDialog()" icon="pi pi-external-link" label="Mas informacion"></p-button>
<p-dialog header="Portafolio v2.0" [(visible)]="displayModal" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">

    <h4>Tecnologias usadas:</h4>
    <br>
    <img src="../../../../assets/icons/angular-icon.svg" alt="" class="iconos">
    <img src="../../../../assets/icons/w3_html5-icon.svg" alt="" class="iconos">
    <img src="../../../../assets/icons/w3_css-icon.svg" alt="" class="iconos">

    <br>

    <h4>Sobre el programa:</h4>
    <br>

    <p>El portafolio es un programa que tiene por objetivo mostrar los proyectos importantes terminados o los que estan en desarollo, e informacion del desarrolador del portafolio. <br> Se hizo uso de Angular 13 para el desarrolo del frontend y el Responsive Desing para que pueda ser vizualizado de manera correcta tanto en dispositivos moviles como en computadoras de escritorio y notebooks  </p>

    <br>

    <img src="../../../../assets/portafolio mobile.jpg" alt="" class="imagenes">
    <br>
    <img src="../../../../assets/portafolio escritorio.jpg" alt="" class="imagenes">

    <a href="https://github.com/gastonm1998/Portafolio-v2.0-frontend-Angular-PrimeNg" role="button" target="_blank" style="text-decoration:none">

      <button pButton pRipple type="button" label="Ir al repositorio" class="p-button-outlined p-button-info" icon="pi pi-github "></button>

    </a>

        <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="Cerrar" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>
