/*.product-item {
  .product-item-content {
      border: 1px solid var(--surface-d);
      border-radius: 3px;
      margin: .3rem;
      text-align: center;
      padding: 2rem 0;

  }

  .product-image {
      width: 50%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  }
}
.prueba{
  z-index: -1;
}*/



.titulo{
  margin: 0;
  padding-top: 7%;
  padding-bottom: 5%;
  display: flex;
  background-color: #f8f9fa;
}
.titulo2::first-letter{
  color: black;
  border-bottom: 4px solid orange;
  border-radius: 2px;
}

.pi{
  margin-top: 0.90%;
}


.carousel-indicators button{
  background-color: #bbe3ff;

}
