
.hard-skills{
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;

}

.carta{
  display: inline;

  margin: 5%;

}

.acordion-body{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}

.header-certificados{
    margin: 0;
    padding-left: 40%;
}

.header-certificados p img{
  margin: 0;
  padding: 0;
  width: 3rem;


}
.header-certificados p {
  margin: 0;
  padding: 0;
}


.cuerpo-carta{
  text-align: center;
  margin: 0;
  padding: 0;
}
.cuerpo-carta img{
  padding-bottom: 5%;
}


.titulo{
  margin: 0;
  padding-top: 7%;
  padding-bottom: 5%;
  display: flex;
  background-color: #f8f9fa;
}
.titulo2::first-letter{
  color: black;
  border-bottom: 4px solid orange;
  border-radius: 2px;
}

.pi{
  margin-top: 0.90%;
}
