<div class="formulario-edicion-experiencia">

  <form (ngSubmit)="enviarDatos()" [formGroup]="formularioExperiencia" >


    <h5>Float Label</h5>
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText [(ngModel)]="nombre" formControlName="nombreEmpresa">
      <label for="float-input">Username</label>
    </span>


    <div class="p-field p-col-12 p-md-4">
      <label for="range">Range</label>
      <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range" dateFormat='dd/mm/yy' formControlName="fecha"></p-calendar>
  </div>




    <h5>Inline</h5>
      <p-colorPicker [(ngModel)]="color" [inline]="true" formControlName="color"></p-colorPicker>


      <h5>Float Label</h5>
      <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <textarea inputId="textarea" rows="3" style="resize: none;" cols="30" [(ngModel)]="texto" pInputTextarea formControlName="descripcion"></textarea>
            <label for="textarea">Textarea</label>
        </span>
    </div>

    <button pButton pRipple type="submit" label="Primary">agregar</button>

    <button pButton pRipple type="button" label="Secondary" class="p-button-secondary"> cancelar</button>


  </form>

</div>

