
<div class="formulario-edicion-experiencia">

  <form [formGroup]="formularioExperiencia" (ngSubmit)="editarDatos()">

    <div class="p-fluid grid">
      <div class="field col-12 md:col-4">
          <span class="p-float-label">
              <input type="text" id="inputtext" pInputText [(ngModel)]="value1" formControlName="nombreEmpresa">
              <label for="inputtext">titulo</label>
          </span>
      </div>
    </div>


    <h5>Inline</h5>
    <p-colorPicker [(ngModel)]="color1" [inline]="true" formControlName="color"></p-colorPicker>




    <div class="field col-12 md:col-4">
      <span class="p-float-label">
          <textarea inputId="textarea" rows="3" style="resize: none;" cols="30" [(ngModel)]="value10" pInputTextarea formControlName="descripcion"></textarea>
          <label for="textarea">descripcion</label>
      </span>
    </div>


    <button pButton pRipple type="submit" label="Primary">agregar</button>

    <button pButton pRipple type="button" label="Secondary" class="p-button-secondary"> cancelar</button>


  </form>
</div>
