.presentacion{
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  text-align: center;


}





.titulo{
  margin: 0;
  padding-top: 7%;
  display: flex;
  background-color: #f8f9fa;
}
.titulo2::first-letter{
  color: black;
  border-bottom: 4px solid orange;
  border-radius: 2px;
}

.pi{
  margin-top: 0.90%;
}


.soft-skills{
  display: flex;
  background-color: #f8f9fa;
  flex-wrap: wrap;
}

.card{
  margin: 5%;
  max-width: 80%;



}

.texto{

 color: white;

}
#p1{
  display: block;
  height: 50%;
  width: 50%;
}
#p2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#p3{
  display: block;
}
.medidores{


  padding: 5%;


}







.product-item {
  .product-item-content {

      border-radius: 3px;
      margin: .3rem;
      text-align: center;
      padding: 2rem 0;
      align-items: center ;

  }

  .product-image {
      width: 50%;

  }
}
.carousel-indicators button{
  background-color: #bbe3ff;

}


