<div class="container">




  <p-card header= "Gaston Monasterio"  [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="../../assets/fondo8.jpg">
    </ng-template>
    <p>💻 Soy un estudiante en la carrera de análisis de sistemas y constantemente me encuentro estudiando para potenciar mis conocimientos en el desarrollo web <br>

      ⌨ Actualmente tengo conocimientos en lenguajes cómo Python, JavaScript, HTML, CSS, GO, C, sistemas de control de versiones como GitHub y IoT.<br>

      🎯 Soy una persona curiosa, autodidacta, me gusta estar en constante aprendizaje, el trabajar en equipo y tengo una pasión muy grande por el mundo de la tecnología<br>

      🎮 Otros de mis pasatiempos favoritos es trabajar en en armado de PC Gaming y Workstation<br>

      ⚡️ Tengo también conocimientos y experiencia en electrónica y electricidad<br>
      </p>

  </p-card>


  </div>

