<!--Componentes de la primera pagina que se ve al entrar al navegador-->

<div class="container">
  <!--Lista de iconos de tecnologias usadas para hacer la aplicacion-->
  <div class="iconos-superior">
    <img src="../../../assets/icons/angular-icon.svg" alt="" >
    <img src="../../../assets/icons/w3_html5-icon.svg" alt="" >
    <img src="../../../assets/icons/w3_css-icon.svg" alt="" >
    <img src="../../../assets/icons/javascript-1.svg" alt="" >

  </div>
  <!--recuadro con texto central-->
  <div class="cartel-principal ">
    <div class=" presentacion  " >
        <h1 class=" text-center ">Hola soy Gaston. <br><br> Desarrolador Web Full Stack</h1>
        <br>
        <h3 class=" text-center ">Bienvenidos a mi portafolio</h3>

      </div>

    </div>

  <!--boton para ir al lobby-->
  <div class="boton">

    <button pButton pRipple type="button" label="" class="p-button-raised p-button-info" (click)="irAlLobby()"> <p>Click aqui para continuar....</p></button>


</div>


