


<div class="titulo">
  <i class="pi pi-chevron-right" style="font-size: 2rem"></i>
  <h1 class=" titulo2">    Experiencia</h1>
</div>


  <div class="card">

    <p-timeline [value]="experiencia" align="alternate" styleClass="customized-timeline">

        <ng-template pTemplate="marker" let-event>
            <span class="custom-marker p-shadow-6" [style.backgroundColor]="event.color">
                <i class="pi pi-id-card"></i>
            </span>
        </ng-template>

        <ng-template pTemplate="content" let-event>
            <p-card [header]="event.nombreEmpresa" [subheader]="event.fecha">

                  <p > {{event.descripcion}}</p>

            </p-card>
        </ng-template>
    </p-timeline>
  </div>

  <div class="titulo">
    <i class="pi pi-chevron-right" style="font-size: 2rem"></i>
    <h1 class=" titulo2">    Educacion</h1>
  </div>
  <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
  <div class="card">

    <p-timeline [value]="educacion" align="alternate" styleClass="customized-timeline">
        <ng-template pTemplate="marker" let-event>
            <span class="custom-marker p-shadow-6" [style.backgroundColor]="event.color">
                <i [ngClass]="event.icon"></i>
            </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
            <p-card [header]="event.status" [subheader]="event.date">

                  <p > {{event.descripcion}}</p>

            </p-card>
        </ng-template>
    </p-timeline>
  </div>


